<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Cadastro<span class="caret"></span></a>
    <ul class="dropdown-menu" aria-labelledby="themes">
        <li><a href="@Url.Action("index", "Cadastro")">Lista</a></li>
        <li class="divider"></li>
        <li><a href="@Url.Action("create", "cadastro")">Cadastro</a></li>
    </ul>
</li>
